.calWrapper {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

.calWrapper .heading {
    width: 70%;
    text-align: center;
    margin-top: 50px;
}

.calWrapper .heading h2 {
    font-size: 36px;
}

.calWrapper .heading p {
    font-size: 18px;
    font-weight: bold;
    color: #979797;
}

.calWrapper .calBody {
    height: auto;
    margin-top: 50px;
}

.calWrapper .calBody .calRow {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.calWrapper .calBody .calRow .calLeft {
    flex-basis: 60%;
    font-size: 24px;
}

.calWrapper .calBody .calRow .calRight {
    flex-basis: 40%;
    font-size: 24px;
}

.calWrapper .calBody .calRow .calRight select {
    font-size: 18px;
    text-transform: capitalize;
    width: 100%;
    outline: none;
    padding: 5px 10px;
    border: 2px solid #888;
}

.calWrapper .calBody .calRow .twoInput {
    display: flex;
}

.calWrapper .calBody .calRow .twoInput input {
    font-size: 18px;
    outline: none;
    padding: 5px 10px;
    width: 50% !important;
    border: 2px solid #888;
}

.calWrapper .calBody .calRow .twoInput input::placeholder {
    font-size: 14px;
}

.calWrapper .calBody .calRow .twoInput select {
    margin-left: 20px;
    font-size: 18px;
    width: 50% !important;
}

.calWrapper .calBody .resultSec {
    width: 100%;
    margin: 50px 0;
    display: flex;
    justify-content: center;
}

.calWrapper .calBody .resultSec button {
    font-size: 24px;
    padding: 15px 50px;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    background: #f2f2f2;
    color: #222;
    transition: all linear .2s;
    box-shadow: 0 0 5px #000;
}

.calWrapper .calBody .resultSec button:hover {
    cursor: pointer;
    background: #222;
    color: #f2f2f2;
}

.calWrapper .resultArea {
    width: 70%;
    margin: 50px 0;
    padding: 50px 20px;
    text-align: center;
    font-size: 28px;
    text-transform: capitalize;
    box-shadow: 0 0 20px #888;
    border-radius: 25px;
}

.calWrapper .resultArea span {
    color: #CE0606;
    font-weight: bold;
}

.calWrapper .calBody .calRow .calRight select {
    width: 300px !important;
}

@media only screen and (max-width: 600px) {
    .calWrapper .calBody .calRow {
        flex-direction: column;
        margin: 20px;
    }

    .calWrapper .calBody .calRow .calLeft {
        margin-bottom: 10px;
    }

    .calWrapper .calBody .calRow .calRight select {
        width: 150px !important;
    }

    .calWrapper .resultArea {
        width: 90%;
        padding: 50px 20px;
        box-sizing: border-box;
    }

    .calWrapper .heading {
        width: 90%;
        text-align: center;
        margin-top: 50px;
    }

    .calWrapper .heading h2 {
        font-size: 28px;
    }
}